body{color: #404547 !important;}
.about {
    background-color: #f7f9fb;
    padding-top: 100px;
    padding-bottom: 80px;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
}
p {
    font-size: 16px;
}
.get-started{
    text-align: center;
    color: #fff;
}
.get-started h2{
    color: #fff;
    margin-bottom: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.get-started .button_2 {
    color: #fff!important;
    background-color: #0af;
    max-width: 370px;
    padding: .8em;
    font-size: 18px;
    font-weight: 600;
    height: auto;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
}
.get-started .button_2:hover{
    background: #fff;
    color: #0af !important;
}
.get-started p{font-size: 16px; max-width: 600px; margin: 0 auto; margin-bottom: 50px; line-height: 30px;}
.blue-headline{
    color: #2a6aa1!important;
    font-weight: 700!important;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.3;
}

.main_title h2{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}
.about-img{
    width: 100%;
    margin-bottom: 50px;
}
.intro {
    font-size: 22px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.about2{
    margin: 0 auto;
    text-align: center;
}
.about2 img{
    max-width: 450px;
}
.about-h2{
	font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    color: #2a6aa1!important;
    font-weight: 700;
}
.about-ul{
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
}
.about-ul i{
    color: #1bb933;
}

.about-intro{
	color: #fff;
	background: -webkit-linear-gradient(rgba(25,37,52,.2),rgba(25,37,52,1)),url(../img/ep-about-intro.jpg);
    background: -o-linear-gradient(rgba(25,37,52,.2),rgba(25,37,52,1)),url(../img/ep-about-intro.jpg);
    background: linear-gradient(rgba(25,37,52,.2),rgba(25,37,52,1)),url(../img/ep-about-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    padding: 100px 0;
    min-height: 500px;
    margin-bottom: 100px;
}
.about-intro hgroup{
	text-align: center;
}
.about-intro h3{
	color: #fff !important;
	font-size: 26px;
	margin-bottom: 50px;
}
.about-intro h2{
	color: #fff !important;
	font-size: 50px;
}
.about-more{
	padding-bottom: 100px;
}
.grey{padding-top: 100px;}
.more-p{
	background: #f7f9fb;
	padding: 25px;
	min-height: 390px;
}